@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

body::before {
  content: "";
  background-image: linear-gradient(
      115deg,
      rgba(31, 31, 108, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url('../../image/aboutme-background.jpg');
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0 0 3rem 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

/*header*/
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: rgb(132, 34, 213);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/*DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.417);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1000;
}

.dropdown_menu.open {
  height: 150px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Hero*/
section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

#title,
#description {
  text-align: center;
}
#description {
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 720px;
}
form {
  background-color: rgba(27, 27, 50, 0.8);
  padding: 2em;
  font-size: 18px;
}
.form-group {
  margin-bottom: 2rem;
}
label {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}
input {
  display: block;
  width: 100%;
  height: 38px;
  margin: 0.5em 0;
  padding: 6px 12px;
  font-size: 16px;
  box-sizing: border-box;
}
.lainnya {
  display: block;
}
.lainnya span {
  display: flex;
  align-items: center;
}
select {
  height: 38px;
  font-size: 16px;
  width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
textarea {
  width: 100%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

/* pindah pages */

#pindah-page {
  display: flex;
  justify-content: space-between;
}

#pindah-page .pindah-anchor {
  color: #000000;
  background-color: #ffffff;
  padding: 2px 12px 0px 12px;
  font-size: medium;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}

#pindah-page .pindah-anchor:hover {
  color: #000000;
  background-color: #949494;
  padding: 2px 12px 0px 12px;
  font-size: medium;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}
#pindah-page span a {
  color: #3b79ff;
}

#pindah-page button {
  padding: 5px 15px 5px 15px;
  font-size: medium;
  background-color: #ffffff;
  border-radius: 3px;
  border: none;
}

#pindah-page button:hover {
  padding: 5px 15px 5px 15px;
  font-size: medium;
  background-color: #949494;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}
